.sub-item-wrapper {
  display: flex;
  margin-top: 10px;
  .sub-banner-item {
    width: 117px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    img {
      width: 50px;
    }
    p {
      text-align: center;
    }
    &:hover {
      color: #38699f;
      transition: all ease 400ms;
    }
  }
}
