.discover-item-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
}

.discover-item {
  width: 117px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  img {
    width: 84px;
    height: 84px;
    border-radius: 15px;
  }
  p {
    text-align: center;
  }
  &:hover {
    color: #38699f;
    transition: all ease 400ms;
  }
}

.slick-prev {
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 100%;
  transform: scale(1.2) translateY(-80%) translateX(100%) !important;
  z-index: 5;
}

.slick-next {
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 100%;
  transform: scale(1.2) translateY(-80%) translateX(-100%) !important;
}

.slick-disabled {
  opacity: 0 !important;
}

.slick-slide {
  div {
    display: flex;
    justify-content: center;
  }
}
